<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDj7xQkUKC77PM9Le0EjRmwkGThEaNSQaY</string>
	<key>GCM_SENDER_ID</key>
	<string>206084623032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.shopcheck</string>
	<key>PROJECT_ID</key>
	<string>shop-check-yyuy97</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-check-yyuy97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206084623032:ios:109b114be4ef8150b9c24d</string>
</dict>
</plist>